/** @format */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to top, #537895 0%, #09203f 100%);
  background-repeat: no-repeat;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container h1 {
  color: #e1e1e1;
  font-size: 3.5rem;
  margin: 1rem 0 0.5rem 0;
  font-weight: 900;
}

.container p {
  color: #e1e1e1;
  font-size: 1.5rem;
  font-weight: 700;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-left: 10px;
}

.movie-icon {
  color: #e1e1e1;
  font-size: 1.5rem;
  margin-left: 8px;
}

form {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 17%;
  right: 3%;
  color: #e1e1e1;
  font-size: 1.5rem;
}

.search-icon:hover {
  cursor: pointer;
}

input {
  width: 25rem;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #47657c;
  outline: none;
  border: none;
  color: #e1e1e1;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.1rem 1rem;
}

input::placeholder {
  color: #e1e1e1;
  opacity: 0.7;
}

input:focus {
  background-color: #537895;
}

button {
  background: none;
  outline: none;
}

.disabled {
  color: #6e6d6d;
  font-size: 1.8rem;
  border: none;
}

.disabled:hover {
  cursor: default;
}

.next {
  color: #e1e1e1;
  font-size: 1.8rem;
  border: none;
}

.previous {
  color: #e1e1e1;
  font-size: 1.8rem;
  border: none;
}

.next:hover {
  cursor: pointer;
}

.previous:hover {
  cursor: pointer;
}

.nomination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e1e1e1;
  /* max-width: 920px; */
}

.nomination-container h1 {
  font-size: 2.5rem;
  margin: 1rem 0 0.5rem 0;
  font-weight: 900;
}

.nomination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.long-nomination-title {
  /* width: 100px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close-icon {
  font-size: 1.3rem;
}

.close-icon:hover {
  cursor: pointer;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  margin-top: 2.5rem;
  color: #e1e1e1;
}

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-img-container {
  position: relative;
}

.movie-img {
  height: 25rem;
  width: 20rem;
}

.star-icon-active {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 1.8rem;
  color: yellow;
}

.star-icon-inactive {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 1.8rem;
  color: #e1e1e1;
}

.star-icon-inactive:hover,
.star-icon-active:hover {
  cursor: pointer;
}

.long-title {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  text-overflow: none;
  margin-top: 0.3rem;
}

.year {
  margin: 0.3rem 0 1rem 0;
}

.no-movie {
  color: #e1e1e1;
  font-size: 1.5rem;
}

.too-many-movies {
  color: #e1e1e1;
  font-size: 1.5rem;
}

.skeleon-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
